@font-face {
    font-family: 'Andallan';
    src:url(../fonts/andallan.otf)/* IE9 Compat Modes */
}

body {
    
    padding-bottom: 20px;
    background-color: #ADBBD6;
}

.main-content {
    width:100%;
    float:left;
    background-color:#384E77;
    padding:150px 50px;
    position:relative;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    width:100%;
    padding: 30px 15px;
    float:left;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/***Navigation***/

.navbar-inverse {
    background-color: #384E77;
    border-color: #384E77;
}

.navbar-inverse .navbar-brand {
    font-family:Andallan;
    font-size:4.4em;
    color:white;
}

.navbar-header {
    float: left;
    padding: 35px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float: none;
}

.navbar-brand {
    float: none;
}

.navbar-header h4 {
    margin-top:16px;
    color:white;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-size: 1.2em;
}

.navbar-nav > li > a {
    padding-bottom:5px;

}

.navbar-collapse.collapse {
    display: inline-block !important;
}
    /***Main page***/
    #main-title {
        padding:60px;
        color:white;
        font-weight:900;
        font-size:4em;
        font-family:'Segoe UI';
    }    
    
    #main-text {
        margin:-50px 120px 0px 60px;
        font-size:1.7em;
        color:white;
    }

/**Accordion**/

.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: #eee;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 16px;
  color: #6a6c6f;
}

.accordion-option .toggle-accordion:before {
  content: "Expand All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Collapse All";
}

.panel-input {
    display:inline;
    float:right;
}

.panel-item {
    margin: 10px;
    height: 30px;
    border-bottom: 1px solid lightgrey;
}

input, select, textarea {
    height: 30px;
    background-color:lightgrey;
    border:none;
}

input:focus + label {
    color: red;
    font-weight: bold;
}

    /*Total indkomst*/

    .totalIncome-title,
    .disposable-title{
        display:inline-block;
        padding:10px 15px;
    }

    .totalIncome,
    .disposable {
        display: inline;
        float: right;
        padding: 10px 15px;
    }

    /*Box med tip*/

    .tip {
        position: relative;
        display: inline-block;
        border: 1px solid black;
        padding: 1px 5px;
    }

    .tip .tiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        /* Position the tip */
        position: absolute;
        z-index: 1;
    }

    .tip:hover .tiptext {
        visibility: visible;
    }

    /*** Button skew ***/

.btn {
    margin-top:20px;
}
.btn-excel {
    width:49.8%;
    color: white;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, calc(100% - 30px) 100%, 0% 100%);
}
.btn-pdf {
    width: 49.8%;
    color: white;
    display: inline-block;
    padding: 10px 20px 10px 10px;
    text-decoration: none;
    -webkit-clip-path: polygon(0 0, 100% 0%, calc(100% - 10px) 100%, 0% 100%);
    clip-path: polygon(5.5% 0, 100% 0, 100% 100%, 0% 100%);
}

#get_quote {
    margin-top: 20px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#get_quote_content {
    margin-top: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 10px 15px;
}
        /***Footer***/
        footer {
    background-color: #384E77;
    float: left;
    width: 100%;
    height: 60px;
}

footer p {
    color:white;
    font-size:1.4em;
    text-align:center;
    padding-top:16px;
    
}